* {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url(../src/assets/images/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: black;
}

.container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr;
}

#content {
  /* grid-row: 2/-1; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.header {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 64px;
  padding: 10px 20px;
  grid-column: 1/-1;
}

.header .title {
  color: white;
  word-spacing: -7.5px;
}

.header button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  font-size: 0.4em;
  color: white;
}

button:hover {
  background-color: darkgray;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: auto;
  margin: 3em;
  gap: 50px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 25px;
  text-align: center;
  border-radius: 20px;
  height: 75px;
  font-weight: bold;
}

.flex-container {
  display: flex;
  flex-direction: column;
  font-size: 100px;
  width: 50%;
  height: auto;
  gap: 50px;
}

.start-practice-btn {
  height: 100px;
  font-size: 75px;
  border-radius: 20px;
  cursor: pointer;
}
.flex-top {
  flex-basis: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-top button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  font-size: 75px;
  border-radius: 20px;
  cursor: pointer;
}

.flex-bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100px;
}

.flex-bottom button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 50px;
  cursor: pointer;
}

.flex-bottom .results {
  grid-column: 1/-1;
}

.wrong {
  color: red;
}
.correct {
  color: green;
}
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 50px auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#search-input {
  width: 50%;
  height: 50px;
  padding: 10px;
  font-size: 16px;
  border: 0;
  outline: 0;
}

.autocomplete-results {
  width: 50%;
  border-top: none;
  list-style-type: none;
  padding: 0;
  background-color: #fff;
  overflow-y: auto;
  max-height: 420px;
}

.autocomplete-results li {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: left;
  display: flex;
  gap: 10px;
}

.autocomplete-results li img {
  height: 64px;
}

.autocomplete-results li:hover {
  background-color: #f0f0f0;
}

.metronome-flex-container {
  display: flex;
  font-size: 100px;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: space-around;
}

.metronome-container {
  /* background-color: rgba(0, 0, 0, 0.5); */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.metronome {
  height: 50%;
  width: 50%;
  font-weight: bold;
}

.bpm-display {
  font-size: 36px;
  font-weight: bold;
}

.tempo {
  color: #e74c3c;
  font-size: 75px;
}

.bpm {
  color: #fff;
}

.song-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.song-details img {
  height: 64px;
}
.tempo-text {
  font-size: 18px;
  color: #fff;
  padding-top: 10px;
}

.tempo-settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding-bottom: 20px;
}

.adjust-tempo-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  font-size: 30px;
  line-height: 1; /* Ensure the text is centered vertically */
  color: #fff;
  /* background-color: #3498db; */
  cursor: pointer;
  border-radius: 15px;
}

.adjust-tempo-btn:hover {
  background-color: #297fb8; /* Darker color on hover */
}

/* ... (remaining styles) ... */


.slider {
  width: 100%;
}

.choice-div {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1px;
  font-weight: bold;
}
.start-stop {
  font-size: 40px;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  padding: 10px;
}

.select-song {
  font-size: 40px;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  padding: 10px;
}
.start-stop:hover {
  background-color: rgba(0,0,0,0.4);
}
.select-song:hover {
  background-color: rgba(0,0,0,0.4);
}
.measures {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-bottom: 20px;
}

.stepper {
  font-size: 30px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  color: #fff;
  /* background-color: #e74c3c; */
  cursor: pointer;
}

.stepper:hover {
  background-color: #e74c3c;
}
.measure-count {
  font-size: 24px;
  color: #fff;
}


