* {
  padding: 0;
  margin: 0;
  font-family: serif;
  
}

body {
  background-image: url(../src/assets/images/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr;
}

#content {
  grid-row: 2/-1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.header {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 4em;
  padding: 10px 20px;
  grid-column: 1/-1;
}

.header .title {
  color: yellow;
  word-spacing: -7.5px;
}

.header button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  font-size: 0.4em;
  color: white;
}

button:hover {
  background-color: darkgray;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: auto;
  margin: 3em;
  gap: 50px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 25px;
  text-align: center;
  border-radius: 20px;
  height: 75px;
  font-weight: bold;
}

.flex-container {
  display: flex;
  flex-direction: column;
  font-size: 100px;
  width: 100%;
  height: auto;
  margin: 3em;
  gap: 50px;
}

.flex-top {
  flex-basis: 60%;
}

.flex-top input {
  width: 50%;
  height: 100%;
  font-size: 20px;
  padding: 20px;
  border-radius: 20px;
  outline: none;
}

.flex-top button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  font-size: 75px;
  border-radius: 20px;
}

.flex-bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100px;
}

.flex-bottom button{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 50px;

}

.flex-bottom .results {
  grid-column: 1/-1;
}